<% include partials/header %>

	<div class="container mt-5">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Disciplinas</th>
					<th scope="col">1ยบ Bimestre</th>
					<th scope="col">2ยบ Bimestre</th>
					<th scope="col">3ยบ Bimestre</th>
					<th scope="col">4ยบ Bimestre</th>
				</tr>
			</thead>
			<tbody>
				<% for(var key in materias) { %>
				<tr>
					<th scope="row"><%= materias[key] %></th>
					<td><%= media[1][key] !== '0.0' ? media[1][key] : "" %></td>
					<td><%= media[2][key] !== '0.0' ? media[2][key] : "" %></td>
					<td><%= media[3][key] !== '0.0' ? media[3][key] : "" %></td>
					<td><%= media[4][key] !== '0.0' ? media[4][key] : "" %></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>

<% include partials/footer %>