<% include partials/header %>

	<div class="container my-5">
		<h1 class="mb-4 float-left">1º Bimestre</h1>
		<form id="salvar" action="/salvar" method="POST">
			<input value="Salvar" class="btn btn-success btn-lg float-right" type="submit" value="Salvar">
		</form>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col" id="disciplina">Disciplinas</th>
					<th scope="col">Avaliação 1</th>
					<th scope="col">Avaliação 2</th>
					<th scope="col">Trabalho 1</th>
					<th scope="col">Trabalho 2</th>
					<th scope="col">Recuperação</th>
					<th scope="col">Média</th>
				</tr>
			</thead>
			<tbody>
				<% for(key in materias) { %>
				<tr>
					<th scope="row"><%= materias[key] %></th>
					<td><input value="<%= Math.round(Math.random()*10) %>" form="salvar" name="<%= key %>[av1]" class="<%= key %>" type="number" min="0" max="10"></td>
					<td><input value="<%= Math.round(Math.random()*10) %>" form="salvar" name="<%= key %>[av2]" class="<%= key %>" type="number" min="0" max="10"></td>
					<td><input value="<%= Math.round(Math.random()*10) %>" form="salvar" name="<%= key %>[tr1]" class="<%= key %>" type="number" min="0" max="10"></td>
					<td><input value="<%= Math.round(Math.random()*10) %>" form="salvar" name="<%= key %>[tr2]" class="<%= key %>" type="number" min="0" max="10"></td>
					<td><input value="<%= Math.round(Math.random()*10) %>" form="salvar" name="<%= key %>[rec]" class="<%= key %> rec" type="number" min="0" max="10"></td>
					<td id="<%= key %>-result"></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>

<% include partials/footer %>